@media screen and (max-width: 1500px) {
	.widget{
		display: none;
	}
}
@media screen and (max-width: 1400px) {
	.container{
		max-width: 1170px;
	}
	.history_video-txt{
		width: 208px;
	}
	.enroll_right {
    max-width: 427px;
    margin-bottom: -167px;
	}
	.enroll_left{
		padding-bottom: 100px;
	}
	.enroll{
		overflow: hidden;
	}
	.time_left {
    max-width: 456px;
	}
	.contract_right {
    width: 741px;
	}
	.contract_link::before{
		right: -102px;
	}
	.dev_left{
		max-width: 550px;
	}
	.technology_right{
		max-width: 496px;
	}
	.sale_content{
    width: calc(100% - 115px);
		padding-left: 20px;
	}
	.sale_title{
		font-size: 18px;
		line-height: 25px;
	}
	.sale_img{
		width: 115px;
		align-self: stretch;
	}
	.sale_img img{
		height: 100%;
		width: auto;
	}
}
@media screen and (max-width: 1200px) {
	.container{
		max-width: 962px;
	}
	.head_link{
		display: none;
	}
	.history_block_left{
		width: 430px;
	}
	.history_tit{
		margin-bottom: 10px;
	}
	.history_list li{
		font-size: 16px;
		line-height: 22px;
	}
	.history_list li:first-child {
    margin-bottom: 20px;
	}
	.history_right{
		margin-left: 20px;
	}
	.recommend_block{
		flex-wrap: wrap;
		justify-content: center;
	}
	.recommend_content_right{
		max-width: 100%;
		width: 100%;
		padding-left: 0;
	}
	.catalog .sec_tit {
    max-width: 311px;
		font-weight: 700;
		font-size: 24px;
		line-height: 33px;
    margin-bottom: 33px;
  }
  .catalog .sec_desc {
		max-width: 424px;
		font-weight: 400;
		font-size: 18px;
		line-height: 25px;
  }
	.comfort .sec_tit{
		max-width: 572px;
		line-height: 33px;
	}
	.enroll .sec_tit {
    max-width: 391px;
    line-height: 33px;
  }
	.time .sec_tit {
	
		max-width: 406px;
		line-height: 33px;
	}
	.verif .sec_tit {
    max-width: 301px;
    line-height: 33px;
  }
	.left_content .sec_tit {
    line-height: 33px;
  }
	.delivery_txt {
    margin: 0 -162px 35px 0;
  }
  }
	.plan .sec_tit {
    max-width: 561px;
    line-height: 33px;
  }
	.control_txt {
    font-size: 19px;
  }
	.sec_desc__big {
    font-size: 22px;
  }
	.left .sec_tit, .left .sec_desc {
    font-size: 23px;
  }
	.left_content .sec_desc__2 { 
    font-size: 22px;
    width: 495px;
  }
	img {
    width: 80%;
    height: auto;
  }
	.designer .form-wrap {
    max-width: 350px;
  }
	.form_title {
    font-size: 20px;
  }

@media screen and (max-width: 992px) {
	.container{
		max-width: 738px;
	}
	.recommend_content_right {
    max-width: 78%;
		width: 78%;
    padding-left: 0;
  }
	.reviews_in::before {
		font-size: 140px;
		text-align: center;
	}
	.comfort .sec_tit {
    max-width: 572px;
    line-height: 33px;
    font-size: 23px;
  }
  .left .sec_tit, .left .sec_desc {
	 font-size: 25px;
  }
	.time_right {
    max-width: 474px;
  }
}
@media screen and (max-width: 768px) {
	.container{
		max-width: 546px;
	}
}
@media screen and (max-width: 576px) {
	.container{
		max-width: 100%;
	}
}
