@media screen and (max-width: 1500px) {
	.widget{
		display: none;
	}
}
@media screen and (max-width: 1400px) {
	.comfort_dialog{
		right: -36px;
	}
	.container{
		max-width: 1170px;
	}
	.history_video-txt{
		width: 208px;
	}
	.enroll_right {
    max-width: 427px;
    margin-bottom: -167px;
	}
	.enroll_left{
		padding-bottom: 100px;
	}
	.enroll{
		overflow: hidden;
	}
	.time_left {
    max-width: 456px;
	}
	.contract_right {
    width: 741px;
	}
	.contract_link::before{
		right: -102px;
	}
	.dev_left{
		max-width: 550px;
	}
	.technology_right{
		max-width: 496px;
	}
	.sale_content{
    width: calc(100% - 115px);
		padding-left: 20px;
	}
	.sale_title{
		font-size: 18px;
		line-height: 25px;
	}
	.sale_img{
		width: 115px;
		align-self: stretch;
	}
	.sale_img img{
		height: 100%;
		width: auto;
	}
}
@media screen and (max-width: 1200px) {
	.container{
		max-width: 962px;
	}
	.head_link{
		display: none;
	}
	.history_block_left{
		width: 430px;
	}
	.history_tit{
		margin-bottom: 10px;
	}
	.history_list li{
		font-size: 16px;
		line-height: 22px;
	}
	.history_list li:first-child {
    margin-bottom: 20px;
	}
	.history_right{
		margin-left: 20px;
	}
	.recommend_block{
		flex-wrap: wrap;
		justify-content: center;
	}
	.recommend_content_right{
		max-width: 100%;
		width: 100%;
		padding-left: 0;
	}
	.delivery_txt {
    margin: 0 -162px 35px 0;
  }
	.control_txt {
    font-size: 19px;
  }
	.sec_desc__big {
    font-size: 22px;
  }
	.left_content .sec_desc__2 { 
    font-size: 22px;
    width: 495px;
  }
	.designer .form-wrap {
    max-width: 350px;
  }
	.form_title {
    font-size: 20px;
  }
  .catalog{
  	background-position: right top;
  }
  .comfort_item{
  	width: 50%;
  	margin-bottom: 25px;
  }
  .comfort_block{
  	justify-content: center;
  }
  .comfort_dialog{
  	right: 0;
  }
  .comfort_item__1{
  	margin-right: 100px;
  }
  .enroll_left{
  	max-width: 520px;
  }
  .enroll_right{
  	width: calc(100% - 520px);
  	margin-bottom: -344px;
  }
  .form_block{
  	max-width: 345px;
  	padding: 30px 20px;
  }
  .form_block .input_wrap{
  	margin-bottom: 20px;
  }
  .form_block .btn_wrap{
  	width: 100%;
  }
  .time_right {
    max-width: 421px;
	}
	.material_card{
		width: 50%;
		margin-bottom: 60px;
	}
	.material_card:last-child{
		margin-bottom: 0;
	}
	.material_cards{
		justify-content: center;
	}
	.material_card__1{
		margin-right: 124px;
	}
	.contract_left .sec_tit{
		display: block;
	}
	.contract_right .sec_tit{
		display: none;
	}
	.contract_left{
		width: 100%;
		max-width: 100%;
		margin-bottom: 95px;
	}
	.contract .sec_tit{
		max-width: 100%;
		margin-bottom: 30px;
	}
	.contract_img {
		max-width: 275px;
		margin: 0 auto;
	}
	.contract_link::before{
		display: none;
	}
	.contract_right{
		margin: 0 auto;
	}
	.dev_left{
		max-width: 460px;
	}
	.left_img{
		max-width: 425px;
	}
	.left_content {
    width: calc(100% - 425px);
	}
	.left_img span{
		left: 60%;
	}
	.technology_right {
    max-width: 320px;
    bottom: 0;
	}
	.technology_left{
		width: calc(100% - 320px);
	}
	.control_content{
		max-width: 450px;
	}
	.control_img{
		max-width: 390px;
		margin-bottom: -132px;
	}
	.control_txt{
		padding: 20px;
		font-size: 18px;
		line-height: 25px;
	}
	.control{
		padding-bottom: 64px;
	}
	.desinger_left{
		max-width: 100%;
		margin-bottom: 50px;
		width: 100%;
	}
	.left_content .sec_desc__2{
		width: 100%;
	}
	.designer .form-wrap{
		max-width: 344px;
	}
	.designer_right{
		width: 100%;
	}
	.designer_img{
		left: 50px;
	}
}
@media screen and (max-width: 992px) {
	.container{
		max-width: 738px;
	}
	.lg{
		display: block;
	}
	.desc{
		display: none;
	}
	.head_desc{
		font-size: 12px;
		line-height: 16px;
		width: 195px;
	}
	header .wa_link,
	header .tel_num{
		font-size: 12px;
		line-height: 14px;
	}
	header .tel_num{
		background-size: auto 100%;
	}
	h1{
		font-size: 26px;
		line-height: 36px;
		margin-bottom: 15px;
	}
	.main{
		padding: 25px 0 30px;
	}
	.main_desc{
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	.main_list li{
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 10px;
		padding-left: 30px;
	}
	.main_list li::before{
		width: 20px;
		height: 2px;
	}
	.main_list{
		margin-bottom: 25px;
	}
	.tag{
		width: 142px;
		height: 49px;
		padding: 3px;
		border-radius: 12px;
	}
	.tag_in{
		padding-top: 5px;
		border-radius: 10px;
	}
	.tag_txt{
		font-size: 9px;
	}
	.tag_txt__big{
		font-size: 26px;
		line-height: 26px;
		margin-top: -3px;
	}
	.list_ch li::before{
		width: 30px;
		height: 30px;
	}
	.list_ch li{
		padding-left: 45px;
	}
	.main .list_ch{
		flex-wrap: nowrap;
	}
	.main .list_ch br{
		display: none;
	}
	.main .list_ch li{
		width: 32%;
	}
	.sec_tit{
		font-size: 24px;
		line-height: 33px;
	}
	.sec_desc{
		font-size: 18px;
		line-height: 25px;
	}
	section {
    padding: 40px 0;
	}
	.bg{
		padding: 30px 0;
	}
	.history .sec_tit{
		margin-bottom: 30px;
	}
	.history .sec_desc{
		margin-bottom: 25px;
	}
	.history_right{
		width: 100%;
		margin-left: 0;
	}
	.history_in{
		flex-wrap: wrap;
		justify-content: center;
	}
	.history_block_left{
		max-width: 380px;
		margin-bottom: 22px;
	}
	.history_in{
		padding-bottom: 30px;
	}
	.recommend .sec_desc{
		font-size: 22px;
		line-height: 30px;
		margin-bottom: 15px;
	}
	.recommend_txt{
		margin-bottom: 30px;
	}
	.recommend_block{
		padding: 30px 25px;
	}
	.reviews_in::before{
		font-size: 100px;
	}
	.comfort_item{
		max-width: 345px;
	}
	.comfort_card{
		width: 165px;
		padding: 15px 0;
	}
	.comfort_img{
		width: 110px;
		margin-bottom: 15px;
	}
	.comfort_img img{
		width: 110px;
	}
	.comfort_img::before{
		width: 110px;
		height: 110px;
	}
	.comfort_name{
		font-size: 16px;
		line-height: 22px;
	}
	.comfort_job{
		font-size: 12px;
		line-height: 16px;
	}
	.comfort_dialog{
		font-size: 12px;
		line-height: 16px;
		width: 229px;
		height: 114px;
	}
	.comfort_item__1 .comfort_dialog{
		padding: 25px 24px 23px 64px;
	}
	.comfort_item__2 .comfort_dialog{
		padding: 24px 44px 24px 82px;
	}
	.comfort_item__3 .comfort_dialog{
		padding: 32px 36px 32px 75px;
	}
	.comfort_item__1{
		margin-right: 0;
	}
	.enroll .sec_desc{
		font-size: 18px;
		line-height: 25px;
	}
	.form_block{
		padding: 30px 20px;
	}
	.form_block-in{
		margin-bottom: 25px;
	}
	.form_txt{
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;
	}
	.enroll_left{
		max-width: 345px;
		padding-bottom: 40px;
	}
	.enroll_right {
		margin-bottom: -150px;
    width: calc(100% - 360px);
  }
  .enroll .sec_tit{
  	margin-bottom: 15px;
  }
  .enroll .sec_desc{
  	margin-bottom: 20px;
  }
  .enroll .left_name{
  	left: 22%;
  }
  .list_num li{
  	font-size: 16px;
  	line-height: 22px;
  	margin-bottom: 20px;
  	padding-left: 48px;
  }
  .time .sec_tit{
  	margin-bottom: 34px;
  }
  .time_left{
  	margin-bottom: 25px;
  	max-width: 100%;
  }
  .time_in{
  	justify-content: center;
  }
  .time_img{
  	margin-bottom: 15px;
  }
  .material_card{
  	width: 344px;
  	padding: 40px 21px;
  }
  .material_card-tit{
  	margin-bottom: 20px;
  }
  .material_card-txt{
  	margin-bottom: 30px;
  }
  .material_card__1 {
    margin-right: 20px;
	}
	.verif_left {
    max-width: 375px;
	}
	.verif_right {
    width: calc(100% - 400px);
	}
	.dev_left{
		width: 100%;
		max-width: 100%;
		padding-bottom: 5px;
	}
	.dev .list_ch li{
		margin-bottom: 25px;
	}
	.dev_right {
    width: 100%;
    max-width: 450px;
	}
	.dev_top{
		justify-content: center;
	}
	.dev .sec_desc{
		font-size: 18px;
		line-height: 25px;
	}
	.delivery_txt{
		margin: 0 0 53px;
		max-width: 325px;
	}
	.delivery_icon{
		left: 75px;
	}
	.delivery .left_content{
		width: 344px;
	}
	.delivery .left_img{
		max-width: 360px;
	}
	.delivery .left_img span {
    left: 50%;
	}
	.shadow::before{
		display: none;
	}
	.plan_in{
		padding: 40px;
		background-size: 300px 216px;
	}
	.plan{
		margin-bottom: 0;
	}
	.technology .tag_txt {
    font-size: 18px;
    line-height: 18px;
	}
	.technology .list_ch{
		font-size: 18px;
		line-height: 25px;
	}
	.sale_content{
		padding-left: 20px;
	}
	.sale_desc{
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 15px;
	}
	.sale_btn{
		height: 75px;
	}
	.slick-dots li button{
		width: 8px;
		height: 8px;
	}
	.slick-dots li {
    margin: 0 5px;
	}
	.control .sec_desc__2{
		font-size: 18px;
		line-height: 22px;
	}
	.control_img{
		margin-bottom: -32px;
	}
	.designer_img{
		bottom: -40px;
		width: 358px;
	}
	.left_content .sec_desc__2{
		font-size: 18px;
		line-height: 22px;
	}
	.designer .list_ch b{
		font-size: 22px;
		line-height: 30px;
	}
	.designer .list_ch{
		font-size: 18px;
		line-height: 25px;
	}
	.designer .form_in{
		padding: 30px 25px 35px;
	}
	.foot_block__wa{
		display: none;
	}
	.foot_block{
		width: 50%;
		margin-bottom: 30px;
	}
	.foot_block__2{
		order: -1;
	}
	.foot_block__4{
		order: -1;
	}
}
@media screen and (max-width: 768px) {
	.container{
		max-width: 546px;
	}
	.head_bot,
	.head_top{
		display: none;
	}
	.main .tag {
    left: 325px;
    top: -3px;
	}
	.main_btn-txt{
		font-size: 12px;
		line-height: 16px;
		max-width: 255px;
		margin: 25px 0 0 100px;
	}
	.main_btn {
    max-width: 355px;
	}
	.main_btn-txt::before{
		background-image: url(../img/icons/arrow-white--sm.png);
		width: 79px;
		height: 32px;
		right: 275px;
    bottom: 0px;
	}
	.main .list_ch li{
		width: 100%;
		margin-bottom: 30px;
	}
	.main .list_ch{
		flex-wrap: wrap;
	}
	.history .sec_tit {
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    max-width: 335px;
  }
	.history .sec_desc {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    max-width: 319px;
  }
	.history_right {
    width: 345px;
    margin-left: 0;
  }
	.history_list li p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 25px;
  }
	.slider-nav_img {
    max-width: 80px;
    height: 65px;
  }
	.history img {
		width: 345px;
		margin-bottom: 20px;
	}
	}
	.history_video-txt {
		width: 236px;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
	}
	.recommend .sec_tit {
    max-width: 275px;
  }
	.recommend .sec_desc {
    width: 345px;
  }
	.recommend_txt {
    width: 275px;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
  }

@media screen and (max-width: 576px) {
	.container{
		max-width: 100%;
	}
	.recommend .slider_for-in img {
   padding: 30px 25px 10px 25px;
  }
  .catalog .sec_tit {
		max-width: 311px;
		margin-bottom: 21px;
  }
	.catalog .sec_desc {
    max-width: 311px;
  }
	.comfort .sec_tit {
    max-width: 345px;
  }
	.comfort .sec_desc {
    max-width: 345px;
  }
	.comfort_block {
    display: block;
  }
  
  .history .sec_tit {
    max-width: 335px;
  }
	.history img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .recommend .sec_tit {
	max-width: 275px;
  }
	.recommend .sec_desc {
   max-width: 345px;
  }
	.recommend_wrapp{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .recommend_block{
	  max-width: 345px;
		margin: 0 auto;
  }
	.reviews_img {
	
		flex-wrap: wrap;
  }
	.rev_content {
    position: relative;
    max-width: calc((100% - 45px) / 2);
    margin-bottom: 25px;
  }
	.img_btn {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }
	.img_btn::before {
    width: 50px;
    height: 50px;
  }
	.img_btn::after {
		border-width: 13px 0 11px 15px;
  }
	.rev_name {
		width: 84px;
		font-size: 16px;
		line-height: 24px;
	}
	
}
